* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
html {
  /* background-color: #ffc754; */
  background-color: black;
}
body {
  margin: 0px;
  padding: 0px;
}

.MuiDrawer-paperAnchorLeft {
  background-color: black !important;
}
@media screen and (max-width: 1280px) {
  .project-display {
    flex-direction: column !important;
    max-width: 370px !important;
  }
  .project-description {
    width: 100% !important;
  }
  .video {
    display: none !important;
  }
  .video-mobile {
    display: inline !important;
    
  }
  .video-mobile>a {
    text-decoration: none !important;
    color: white;
  }
}