* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
html {
  /* background-color: #ffc754; */
  background-color: black;
}
body {
  margin: 0px;
  padding: 0px;
}

.MuiDrawer-paperAnchorLeft {
  background-color: black !important;
}